<footer class=footer>
    <div class=section__contain>
        <div class=body-contain>
            <svg class=pattern--footer-separator aria-hidden=true width=709 height=16 viewBox="0 0 709 16" fill=none xmlns="http://www.w3.org/2000/svg">
                <line x1="1.5" y1="-1.5" x2="591.5" y2="-1.5" transform="matrix(-1 -8.74228e-08 -8.74228e-08 1 742 3)" stroke="#20F5D9" stroke-width=3 stroke-linecap=round stroke-linejoin=round stroke-dasharray="1 16" />
                <path d="M256 14.0005L0 14.0005" stroke="#3EB8FF" stroke-width=3 /> </svg>
            <div class=pattern--edge>
                <svg class=pattern--image-cool aria-hidden=true width=422 height=171 viewBox="0 0 422 171" fill=none xmlns="http://www.w3.org/2000/svg">
                    <path d="M-3.05641 169.443L159.637 0.611246" stroke="#3EB8FF" stroke-width=3 />
                    <path d="M17.0999 169.443L179.794 0.611246" stroke="#3EB8FF" stroke-width=3 />
                    <path d="M37.2561 169.443L199.95 0.611246" stroke="#3EB8FF" stroke-width=3 />
                    <path d="M57.4163 169.443L220.11 0.611246" stroke="#3EB8FF" stroke-width=3 />
                    <path d="M76.8499 169.443L239.544 0.611246" stroke="#3EB8FF" stroke-width=3 />
                    <path d="M97.01 169.443L259.704 0.611246" stroke="#3EB8FF" stroke-width=3 />
                    <path d="M117.166 169.442L279.86 0.610239" stroke="#3EB8FF" stroke-width=3 />
                    <path d="M136.944 169.444L299.638 0.612253" stroke="#CD63FF" stroke-width=3 />
                    <path d="M157.1 169.444L319.794 0.612253" stroke="#CD63FF" stroke-width=3 />
                    <path d="M177.26 169.444L339.954 0.612253" stroke="#CD63FF" stroke-width=3 />
                    <path d="M197.416 169.444L360.11 0.612253" stroke="#CD63FF" stroke-width=3 />
                    <path d="M216.85 169.444L379.544 0.612253" stroke="#CD63FF" stroke-width=3 />
                    <path d="M237.01 169.444L399.704 0.612253" stroke="#CD63FF" stroke-width=3 />
                    <path d="M257.166 169.444L419.86 0.612253" stroke="#CD63FF" stroke-width=3 />
                    <path d="M-144.064 167.775L18.6297 -1.05675" stroke="#20F5D9" stroke-width=3 />
                    <path d="M-123.908 167.775L38.7856 -1.05675" stroke="#20F5D9" stroke-width=3 />
                    <path d="M-103.752 167.775L58.9416 -1.05675" stroke="#20F5D9" stroke-width=3 />
                    <path d="M-83.5915 167.774L79.1023 -1.05776" stroke="#20F5D9" stroke-width=3 />
                    <path d="M-64.158 167.775L98.5359 -1.05675" stroke="#20F5D9" stroke-width=3 />
                    <path d="M-43.9978 167.774L118.696 -1.05776" stroke="#20F5D9" stroke-width=3 />
                    <path d="M-23.8415 167.774L138.852 -1.05776" stroke="#20F5D9" stroke-width=3 /> </svg>
            </div>
        </div>
        <nav aria-label=sitemap>
            <ul>
                <li><a href="{{ '#speakers' | prepend: site.url }}" class=js-smooth-scroll data-scroll=true>Speakers</a></li>
                <li><a href="{{ '#venue' | prepend: site.url }}" class=js-smooth-scroll data-scroll=true>Venue</a></li>
                <li><a href="{{ '#sponsors' | prepend: site.url }}" class=js-smooth-scroll data-scroll=true>Sponsors</a></li>
                <li><a href="{{ '/schedule' | prepend: site.baseurl }}">Schedule</a></li>
                <li><a href="{{ '/register' | prepend: site.baseurl }}">Register</a></li>
                <li><a href="{{ '/makers' | prepend: site.baseurl }}">Makers of SFD 2019</a></li>
                <li><a href="{{ '/code-of-conduct' | prepend: site.baseurl }}">Code of Conduct</a></li>
                <li><a href="https://www.facebook.com/nosklub/">Facebook</a></li>
                <li><a href="https://www.github.com/officialnosk">GitHub</a></li>
            </ul>
        </nav>
    </div>
</footer>