<div class=nav-bar-wrapper><span class=pattern--corner-triangle></span>
    <div class=nav-bar>
        <div class=nav-bar__interior>
            <div class=logo-wrap>
                <a href="{{ site.url }}" class=image-link aria-label=SFD_2019_NOSK>
                    <img src="{{ '/images/logo.png' | prepend: site.baseurl }}" alt="SFD 2019">
                </a>
                <h1 class=is-visually-hidden>SFD 2019, NOSK</h1></div>
            <div class=is-hidden-tablet>
                <nav aria-label=main>
                    <ul>
                        <li><a href="{{ '#speakers' | prepend: site.url }}" class=js-smooth-scroll data-scroll=true>Speakers</a></li>
                        <li><a href="{{ '/schedule' | prepend: site.baseurl }}">Schedule</a></li>
                        <li><a href="{{ '#venue' | prepend: site.url }}" class=js-smooth-scroll data-scroll=true>Venue</a></li>
                        <li><a href="{{ '#sponsors' | prepend: site.url }}" class=js-smooth-scroll data-scroll=true>Sponsors</a></li>
                        <li class=li__cta><a href="{{ '/register' | prepend: site.baseurl }}" class=button>Register</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>