---
description: >
  This layout can be used for any page requring access to the full width of the page, unconstrained by a grid.
---

<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8 />
    <meta content="IE=edge" http-equiv=X-UA-Compatible />
    <meta content="width=device-width, initial-scale=1" name=viewport />
    <title>Software Freedom Day 2019 | NOSK</title>
    <meta content="https://nosk.ncit.edu.np" property="og:url" />
    <meta content=website property="og:type" />
    <meta content="Software Freedom Day 2019 | NOSK" property="og:site_name" />
    <meta content="Software Freedom Day 2019 | NOSK" property="og:title" />
    <meta content="SFD is a public education effort with the aim of increasing awareness of Free Software and its virtues, and encouraging its use." property="og:description" />
    <meta content="https://jamstackconf.com/images/og-sfd.png" property="og:image" />
    <meta content=1200 property="og:image:width" />
    <meta content=630 property="og:image:height" />    
    <link as=font crossorigin=anonymous href="{{ '/fonts/Inter-Regular.woff2' | prepend: site.baseurl }}" rel=preload type="font/woff2" />
    <link as=font crossorigin=anonymous href="{{ '/fonts/Inter-Medium.woff2' | prepend: site.baseurl }}" rel=preload type="font/woff2" />
    <link as=font crossorigin=anonymous href="{{ '/fonts/Inter-SemiBold.woff2' | prepend: site.baseurl }}" rel=preload type="font/woff2" />
    <link as=font crossorigin=anonymous href="{{ '/fonts/Inter-Bold.woff2' | prepend: site.baseurl }}" rel=preload type="font/woff2" />
    <link href="{{ '/dist/stylesheets/app.css' | prepend: site.baseurl }}" rel=stylesheet />
    <script src="{{ '/dist/javascripts/index.js' | prepend: site.baseurl }}"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-147706138-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-147706138-1');
</script>

</head>
  <body>
        {% include header.html %}
      {{ content }}
    {% include sponsor.html %}
  {% include extended_footer.html %}
  </div></div>
  {% include footer.html %}
  </body>
</html>
